@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">

    <div class="info_block m-4 p-3">
        <h1>Добро пожаловать в Web-Приложение, написанное на языке программирования C# с использованием MVC!</h1>
        <h2>На сайте есть возможность сделать заказ, просмотреть историю, списки пользователей, товаров, категорий и не только!</h2>
    </div>

    <div class="container">
        <div class="flex">
            <a href="Orders/Edit/0" class="box">
                <b>Заказать товар</b><br>
                Раздел, где можно заказать товар или какую-либо услугу или товар.
            </a>
            <a href="Products" class="box">
                <b>Товары/Продукты</b><br>
                Здесь Вы можете посмотреть на актуальный список товаров магазина.
            </a>
            <a href="Orders" class="box">
                <b>История покупок</b><br>
                В этом разделе можно просматривать всю историю покупок.
            </a>
            <a href="Users" class="box">
                <b>Список пользователей</b><br>
                Служебный раздел со списком всех пользователей.
            </a>
            <a href="/Home/Privacy" class="box">
                <b>О сайте</b><br>
                Здесь Вы можете найти информация о создателе сайта.
            </a>
        </div>
    </div>

</div>
