@{

}

<main class="content">
        <div class="container text-center">
            <div class="info_block m-4 p-3">
                <h1>Вас приветсвует Белышев Александр, создатель данного сайта!</h1>
                <h2>В данный момент я являюсь студентом группы ЗИСТуд-119.</h2>
                <h2>Учюсь во Владимирском Государственном Университете.</h2>
            </div>

            <div class="info_block m-4 p-3">
            <h3>Веб-приложение разрабатывалось для выполнения курсового проектирования по предметам <b>«Технологии программирования» и «Управление данными»</b></h3>
            </div>
            <div class="info_block m-4 p-3">
                <h3>Приложение умеет создавать/редактировать/удалять заказы, пользователей в БД, продукты и др. Выводить список всех покупок. Имеет навигацию по нескольким страницам.</h3>
            </div>
            <div class="info_block m-4 p-3">
                <h3>Приложение написано на языке программирования <b>С#</b>, использующуя <b>MVC</b></h3>
            </div>
        </div>
    </main>
